<nav class="flex items-center justify-between flex-wrap bg-sky-700 p-6">
  <div class="w-full block items-center flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="flex w-full text-sm lg:flex-grow justify-center items-center">
      <a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white mr-4">
        Blog
      </a>
      <a href="#sobre" class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white mr-4">
        Sobre
      </a>
      <a href="#descricao" class="block mt-4 lg:inline-block lg:mt-0 text-slate-200 hover:text-white">
        Descrição
      </a>
    </div>
  </div>
</nav>
