
<div class="flex pt-16 pb-16 w-full items-center justify-center bg-sky-700" >
  <div class="flex justify-between items-center" style="width: 50%;">
    <img class="rounded-full" src="../assets/photo.jpg"alt="" width="150">
    <div class="ml-16 text-slate-200" >
      <h1 class="text-4xl">André Da Silva Aquilau</h1>
      <p>Meu interesse por tecnologia começou cedo, quando eu ainda era criança e tive meu primeiro computador. Desde então, fui explorando cada vez mais as possibilidades que a tecnologia oferece, e me apaixonei pela área de desenvolvimento de software.</p>
    </div>
  </div>
</div>
